[submodule "domeenoblog/public"]
	path = domeenoblog/public
	url = git@github.com:domeeno/domeeno.github.io.git
	branch = main
[submodule "domeenoblog/themes/PaperMod"]
	path = domeenoblog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
